<h1>Slope Calculator</h1>
<label for="slopecalc_input1">1st X point</label>
<input type="text" id="x1" class="slopecalc_input1">
<label for="slopecalc_input2">1st Y point</label>
<input type="text" id="y1" class="slopecalc_input2">
<label for="slopecalc_input3">2nd X point</label>
<input type="text" id="x2" class="slopecalc_input3">
<label for="slopecalc_input4">2nd Y point</label>
<input type="text" id="y2" class="slopecalc_input4">
<input type="submit" id="slopecalc" value="Calculate Slope">
<div id="slopecalc_output"></div>

<h1>Pythagorean Calculator</h1>
<code>Leave the field for side to be calculated blank</code>
<br>
<label for="pythagcalc_input1">Side A</label>
<input type="text" id="A" class="pythagcalc_input1">
<label for="pythagcalc_input2">Side B</label>
<input type="text" id="B" class="pythagcalc_input2">
<label for="pythagcalc_input3">Side C (Hypotenuse)</label>
<input type="text" id="C" class="pythagcalc_input3">
<input type="submit" id="pythagcalcC" value="Calculate Missing Side C">
<input type="submit" id="pythagcalcA" value="Calculate Missing Side A">
<input type="submit" id="pythagcalcB" value="Calculate Missing Side B">
<div id="pythagcalc_output"></div>

<h1>Factorial Calculator</h1>

<label for="factorialcalc_input">Factorial of:</label>
<input type="text" id="factorialcalc_input" class="factorialcalc_input">
<input type="submit" id="Factorialbutton" value="Find Factorial">
<div id="factorialcalc_output"></div>
