<html>
<head>
  <title>Web Calcs</title>
  <!--CSS-->
  <link rel="stylesheet" href="/css/main.css?<%= rand(100000000) %>">
</head>
<body>

<%= yield %>

<!--Javascript-->

</body><script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/Jawascript.js?<%= rand(100000000) %>"></script>
</html>